<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Dojo Survey</h1>
    <form action="/create_survey" method="GET">
        <h2>Name:</h2>
        <input type="text" name="name">
        <h2>Location:</h2>
        <select name="location">
            <option value="San Jose">San Jose</option>
            <option value="Hell Hole">Hell Hole</option>
            <option value="Gracias DeNada">Gracias DeNada</option>
        </select>
        <select name="language">
            <option value="Python">Python</option>
            <option value="Java">Java</option>
        </select>
        <textarea name="comment"cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>