<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>recipe</title>
</head>
<body>
    <div class="navbar">
        <h1 class="flex-2">Recipe Database</h1>
        <a href="/dashboard" class="flex-1"><h2>Dashboard</h2></a>
        <form class="loggout" action="/logout" method="post" >
            <input class="loggout-b" type="submit" value="loggout">
        </form>
    </div>
    <h1>Recipe Name: {{recipe.name}}</h1>
    <h2>Description: </h2><h3>{{recipe.description}}</h3>
    <h2>Under 30 minutes: </h2><h3>{{recipe.under_30}}</h3>
    <h2>Instructions: </h2><h3>{{recipe.instructions}}</h3>
    <h2>Date Made:  </h2><h3>{{recipe.created_at}}</h3>
</body>
</html>